<nav class="commonNav">
    <img class="headerLogo" alt="" src="Images/HatchfulExportt/logo.png" width="100" height="60">
      <h1 class="upper"><em>Get the best healthcare experience, without having to leave home </em></h1>
      
      <div class="btn-group">
        <a href="/">PinCode</a>
        <a href="/login">LogOut</a>
        <a href="/">View Cart</a>
      </div>
        <ul>
          <li>
            <a href="/covidEssentials">COVID ESSENTIALS</a>
          </li>
          <li>
            <a href="/generalMedicines">GENERAL MEDICINES</a>
          </li>
          <li>
            <a href="/ayurvedic">AYURVEDIC</a>
          </li>
          <li>
            <a href="/immunityBoosters">IMMUNITY BOOSTERS</a>
          </li>
          <li>
            <a href="/firstAid">FIRST AID ESSENTIALS</a>
          </li>
          <!-- <li>
            <a href="/viewrequests">VIEW ORDERS</a>
          </li> -->
          <!-- <li>
            <a href="/login">LOGIN</a>
          </li> -->
          <!-- <li>
            <a href="/logout">LOGOUT</a>
          </li> -->
        </ul>
      </nav>