<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/meta.ejs') %>
    <title>Ayurvedic</title>
</head>
<body>
    <%- include('partials/navlogOut.ejs') %>
<h1>Ayurvedic.</h1>

    <!-- <h1 class="upper">Login</h1> -->
    
    <%- include('partials/footer.ejs') %>
</body>
</html>