<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <title>Request Deleted</title>
</head>
<body>
    <%- include('partials/navlogOut.ejs') %>
    <!-- This content is as per  wireframe -->
    <h1 class="upper">Order deleted successfully!</h1>
    <%- include('partials/footer.ejs') %>

</body>
</html>