<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/meta.ejs') %>
    <title>First-Aid</title>
</head>
<body>
    <%- include('partials/navlogOut.ejs') %>
<h1>First-Aid.</h1>

    <!-- <h1 class="upper">Login</h1> -->
    
    <%- include('partials/footer.ejs') %>
</body>
</html>