<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/meta.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <main>
        <h1>Welcome to Rahul-InstaPharm</h1>
        <section>
            <img  class= "heroimage" src="Images/HatchfulExportt/pexels-pixabay-208541.jpg" alt="" srcset="" >
        </section>
    </main>
    <section class="grid grid2">
        <div class="cards">
            <img class="imgCards" src="Images/HatchfulExportt/neuro.jpg" alt="image">
            <h2>Covid-Essentials</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quidem molestias consectetur modi distinctio numquam accusamus, neque architecto quis vitae porro aliquid, non praesentium amet ut tempore rerum dolore consequatur!
        </p>
        </div>
        <div class="cards">
            <img class="imgCards" src="Images/HatchfulExportt/istockphoto-1224798872-612x612.jpg" alt="image">
            <h2>General Medicines</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quidem molestias consectetur modi distinctio numquam accusamus, neque architecto quis vitae porro aliquid, non praesentium amet ut tempore rerum dolore consequatur!
        </p>
            

        </div>
        <div class="cards">
            <img class="imgCards" src="Images/HatchfulExportt/diabetes-528678_960_720.jpg" alt="image">
            <h2>Ayurvedic</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quidem molestias consectetur modi distinctio numquam accusamus, neque architecto quis vitae porro aliquid, non praesentium amet ut tempore rerum dolore consequatur!
        </p>
        </div>
        <div class="cards">
            <img class="imgCards" src="Images/HatchfulExportt/WallpaperDog-5527745.jpg" alt="image">
            <h2>Immunity Boosters</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quidem molestias consectetur modi distinctio numquam accusamus, neque architecto quis vitae porro aliquid, non praesentium amet ut tempore rerum dolore consequatur!
        </p>
        </div>
       
    </section>
    <section class="grid grid1">
        <div class="cards">
            <img class="imgCards1" src="Images/HatchfulExportt/pexels-pavel-danilyuk-7108344.jpg" alt="image">
            <h2>First-Aid</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quidem molestias consectetur modi distinctio numquam accusamus, neque architecto quis vitae porro aliquid, non praesentium amet ut tempore rerum dolore consequatur!
        </p>
        </div>
    </section>
</body>
</html>