<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <title>Logout</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
 <!-- This content is as per wireframe -->
    <h1>Thank you for using the application! You are successfully logged out.</h1>
    <%- include('partials/footer.ejs') %>
</body>
</html>