<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/meta.ejs') %>
    <title>Product Successful</title>
</head>
<body>
    <%- include('partials/navlogOut.ejs') %>
<h1>Product is added successfully</h1>
    <!-- <h1 class="upper">Login</h1> -->
    
    <%- include('partials/footer.ejs') %>
</body>
</html>