<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/meta.ejs') %>
    <title>Register Success</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>
<h1>Thank You for registering with us.</h1>
<a style="padding-left: 0px;" href="/login">Log In</a>
<h4>Click here to login</h4>
    <!-- <h1 class="upper">Login</h1> -->
    
    <%- include('partials/footer.ejs') %>
</body>
</html>